<table>
<td class="navigation"><a href="/atpnn/getdrawing/about.html">About</a></td>
<td> | </td>
<td class="navigation"><a href="https://github.com/edpaget/Get-Drawing" target="_blank">Code</a></td>
<td> | </td>
<td class="navigation"><a href="/atpnn/getdrawing/<%= @title%>">Draw More</a></td>
</tr></table>



<img id="wall" src="/atpnn/getdrawing/backgroundimages/<%= @picture%>.jpg" alt="Beware the Olympikkks" width="640" height="480" />
<img id="brush" src="/atpnn/getdrawing/brushes/sprayBrush.png" alt="spray brush" width="25" height="25" />


<div id="frame">
	<canvas id="drawingArea" width="1000" height="644"></canvas>
</div>
<script type="text/javascript" src="/atpnn/getdrawing/javascript/main-history.js"></script>
<script type="text/javascript" src="/atpnn/getdrawing/javascript/line.js"></script>
<script type="text/javascript" src="/atpnn/getdrawing/javascript/point.js"></script>
<script type="text/javascript" src="/atpnn/getdrawing/javascript/pencil.js"></script>
<script type="text/javascript" src="/atpnn/getdrawing/javascript/tool.js"></script>
<script type="text/javascript" src="/atpnn/getdrawing/javascript/circle.js"></script>
<script type="text/javascript" src="/atpnn/getdrawing/javascript/brush.js"></script>
<script type="text/javascript" src="/atpnn/getdrawing/javascript/rectangle.js"></script>
<script type="text/javascript" src="/atpnn/getdrawing/javascript/text.js"></script>
</br>
<p class="footer"><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a><br />This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" rel="dct:type">work</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</p>
<p class="footer">Code for GetDrawing is Licensed under the <a href="/atpnn/getdrawing/LICENSE.txt">Affero General Public License</a></p>
