<form>
<select id="Tools">
<option value="pencil">Pencil</option>
<option value="brush">Brush</option>
<option value="text">Text</option>
<option value="circle">Circle</option>
<option value="rectangle">Rectangle</option>
</select>
</form>

<img id="wall" src="backgroundimages/<%= @picture%>.jpg" alt="Beware the Olympikkks" width="640" height="480" />

<div id="frame">
	<canvas id="drawingArea" width="600" height="480"></canvas>
</div>
<script type="text/javascript" src="getDrawing.js"></script>
