<form>
<select id="Tools">
<option value="Pencil">Pencil</option>
<option value="Brush">Brush</option>
<option value="Text">Text</option>
<option value="Circle">Circle</option>
<option value="Rectangle">Rectangle</option>
</select>
</form>

<img id="wall" src="backgroundimages/<%= @picture%>.jpg" alt="Beware the Olympikkks" width="640" height="480" />
<img id="brush" src="brushes/sprayBrush.png" alt="spray brush" width="25" height="25" />


<div id="frame">
	<canvas id="drawingArea" width="600" height="480"></canvas>
</div>
<script type="text/javascript" src="javascript/main.js"></script>
<script type="text/javascript" src="javascript/line.js"></script>
<script type="text/javascript" src="javascript/point.js"></script>
<script type="text/javascript" src="javascript/pencil.js"></script>
<script type="text/javascript" src="javascript/tool.js"></script>
<script type="text/javascript" src="javascript/circle.js"></script>
<script type="text/javascript" src="javascript/brush.js"></script>
<script type="text/javascript" src="javascript/drawingEventHandler.js"></script>
<p><a href="wall">First</a> | <a href="wall2">Second</a> | <a href="wall3">Third</a></p>
