body {
	font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
	font-size: 10pt;
}

#index {
	text-align: center;
	margin-top: 200px;
}

#frame {
	position: relative;
	padding-top: .5em;
}

#drawingArea {
	border:2px solid #000;
}

#wall {
	display:none;
}

#brush {
	display:none;
}

a {
	text-decoration: none;
}

td.navigation {
	padding-left: 30px;
	padding-right: 30px;
}

#first {
	padding-left: 200px;
	padding-right: 30px;
}

p.footer {
	text-align: center;
}

h2 {
	margin-bottom: 0em;
}

div.about {
	text-align: left;
	font-size: 12pt;
	width: 400px;
	padding: 5px;
}
